
body { background: url("../img/background.png"); min-height: 100%;}

thead { font-weight: bold; }


.navbar { border-radius: 0;
  li div.user { padding: 15px 0;color: #fff; }
}

.navbar-inverse {
  .navbar-brand, a { color: #fff !important; }
  .navbar-brand:hover, a:hover { color: #999 !important; }
}

.panel.entry .panel-body { padding: 0 15px; }

ul.pagination {
  li > a { color: #5bc0de;
    &:hover { color: #3f9be6 !important; }
  }
  li.active.disabled > a { background-color: #5bc0de; border-color: #5bc0de; color: #fff;
    &:hover { color: #fff !important; }
  }
}

div.login { text-align: center;
  .signup-form { border-top: 1px solid #ccc; }
  .login-form, .signup-form { padding: 20px 20px 45px 20px;
    h2 { margin-top: 0px !important;margin-bottom: 15px; }
    .row { margin: 0 !important;
      input { width: 100%;margin-bottom: 7px;line-height: 24px;padding: 0 7px;font-size: 17px; }
    }
    .btn { width: 100%;font-size: 17px;margin-top: 10px; }
  }
}

.btn.new { float: right;width: 25%;margin-bottom: 10px;font-weight: bold; }

#trips-list {
  tr.saveme {
    -webkit-animation: border-pulsate 2s;
    -webkit-animation-iteration-count: 1;
  }
  tr td.change { display: none; }
  tr.editing {
    td.change { display: table-cell;
      .input-group {
        span { font-size: 12px; }
      }
      .btn { float: left;
        i.fa { font-size: 1.0em; }
      }
    }
    td.current { display: none; }
  }
  tr.waiting { opacity: 0.5; }
}

.tt-header { widht: 100%; background-color: #5bc0de;margin-top: -20px;margin-bottom: 20px;padding: 30px; color: #fff; text-align: center;
  h1 { font-size: 31px;  }
  p { font-size: 20px; }
}

div.homepage {
  .media { text-align: center;
    .media-body { margin-bottom: 10px;}
    div.info-media div { width: 50%; text-align: center; }
    img.iphone { height: 50%; width: 50%; }
  }
}

// Alerts
div.alert { font-size: 16px;
    &.fadedout { opacity: 0 !important; padding: 0; margin: 0; border: none; opacity: 0; font-size: 0; }
}

div.alert.alert-warning.savefirst { float: left; width: 70%; }

// Modal stuff

/* Overlay style */
div.overlay { position: fixed;width: 100%;height: 100%;top: 0;left: 0; background: rgba(50, 169, 205, 0.75);
    &.fullon { opacity: 0;visibility: hidden;-webkit-transition: opacity 0.5s, visibility 0s 0.5s;transition: opacity 0.5s, visibility 0s 0.5s;
        &.open { opacity: 1;visibility: visible;-webkit-transition: all 0.5s;transition: all 0.5s;
            div.content div { opacity: 1;-webkit-transform: rotateX(0deg);transform: rotateX(0deg); }
        }
        &.close {
            div.content div { opacity: 1;-webkit-transform: rotateX(0deg);transform: rotateX(0deg); }
        }
        div.content { -webkit-perspective: 1200px;perspective: 1200px;
            div { opacity: 0.4;-webkit-transform: translateY(-25%) rotateX(35deg);transform: translateY(-25%) rotateX(35deg);-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;transition: transform 0.5s, opacity 0.5s;}
            div#export a.btn { width: 33%; float: left;margin-bottom: 1px; }
        }
    }
    .overlay-close { width: 80px; height: 80px;position: absolute;right: 20px;top: 20px;overflow: hidden;border: none;background: url(/assets/img/cross.png) no-repeat center center;text-indent: 200%;color: transparent;outline: none;z-index: 10; }
    div.content { text-align: center;position: relative;top: 50%;height: 60%;font-size: 24px;-webkit-transform: translateY(-50%);transform: translateY(-50%); }
}
div.message { color: #fff;width: 75%;margin: 0 auto;text-align: center;background-color: rgba(50, 169, 205, 0.95);padding: 10px; }

// responsive

@media screen and (max-height: 30.5em) {
	.overlay div.content { height: 70%;font-size: 16px; }
}

// effects

@-webkit-keyframes border-pulsate {
  0%   { background-color: rgba(246, 89, 19, 0); }
  50% { background-color: rgba(246, 89, 19, 0.6); }
  100%   { background-color: rgba(246, 89, 19, 0); }
}
