/* line 2, scss/styles.scss */
body {
  background: url("../img/background.png");
}

/* line 4, scss/styles.scss */
thead {
  font-weight: bold;
}

/* line 6, scss/styles.scss */
.navbar {
  border-radius: 0;
}
/* line 7, scss/styles.scss */
.navbar li div.user {
  padding: 15px 0;
  color: #fff;
}

/* line 11, scss/styles.scss */
.navbar-inverse .navbar-brand, .navbar-inverse a {
  color: #fff !important;
}
/* line 12, scss/styles.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse a:hover {
  color: #999 !important;
}

/* line 15, scss/styles.scss */
.panel.entry .panel-body {
  padding: 0 15px;
}

/* line 18, scss/styles.scss */
ul.pagination li > a {
  color: #5bc0de;
}
/* line 19, scss/styles.scss */
ul.pagination li > a:hover {
  color: #3f9be6 !important;
}
/* line 21, scss/styles.scss */
ul.pagination li.active.disabled > a {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: #fff;
}
/* line 22, scss/styles.scss */
ul.pagination li.active.disabled > a:hover {
  color: #fff !important;
}

/* line 26, scss/styles.scss */
div.login {
  text-align: center;
}
/* line 27, scss/styles.scss */
div.login .signup-form {
  border-top: 1px solid #ccc;
}
/* line 28, scss/styles.scss */
div.login .login-form, div.login .signup-form {
  padding: 20px 20px 45px 20px;
}
/* line 29, scss/styles.scss */
div.login .login-form h2, div.login .signup-form h2 {
  margin-top: 0px !important;
  margin-bottom: 15px;
}
/* line 30, scss/styles.scss */
div.login .login-form .row, div.login .signup-form .row {
  margin: 0 !important;
}
/* line 31, scss/styles.scss */
div.login .login-form .row input, div.login .signup-form .row input {
  width: 100%;
  margin-bottom: 7px;
  line-height: 24px;
  padding: 0 7px;
  font-size: 17px;
}
/* line 33, scss/styles.scss */
div.login .login-form .btn, div.login .signup-form .btn {
  width: 100%;
  font-size: 17px;
  margin-top: 10px;
}

/* line 37, scss/styles.scss */
.btn.new {
  float: right;
  width: 25%;
  margin-bottom: 10px;
  font-weight: bold;
}

/* line 38, scss/styles.scss */
div.alert.alert-warning.savefirst {
  float: left;
  width: 70%;
}

/* line 41, scss/styles.scss */
#trips-list tr.saveme {
  -webkit-animation: border-pulsate 2s;
  -webkit-animation-iteration-count: 1;
}
/* line 45, scss/styles.scss */
#trips-list tr td.change {
  display: none;
}
/* line 47, scss/styles.scss */
#trips-list tr.editing td.change {
  display: table-cell;
}
/* line 49, scss/styles.scss */
#trips-list tr.editing td.change .input-group span {
  font-size: 12px;
}
/* line 51, scss/styles.scss */
#trips-list tr.editing td.change .btn {
  float: left;
}
/* line 52, scss/styles.scss */
#trips-list tr.editing td.change .btn i.fa {
  font-size: 1.0em;
}
/* line 55, scss/styles.scss */
#trips-list tr.editing td.current {
  display: none;
}

/* line 59, scss/styles.scss */
.tt-header {
  widht: 100%;
  background-color: #5bc0de;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 30px;
  color: #fff;
  text-align: center;
}
/* line 60, scss/styles.scss */
.tt-header h1 {
  font-size: 31px;
}
/* line 61, scss/styles.scss */
.tt-header p {
  font-size: 20px;
}

/* line 65, scss/styles.scss */
div.homepage .media {
  text-align: center;
}
/* line 66, scss/styles.scss */
div.homepage .media .media-body {
  margin-bottom: 10px;
}
/* line 67, scss/styles.scss */
div.homepage .media div.info-media div {
  width: 50%;
  text-align: center;
}
/* line 68, scss/styles.scss */
div.homepage .media img.iphone {
  height: 50%;
  width: 50%;
}

@-webkit-keyframes border-pulsate {
  /* line 73, scss/styles.scss */
  0% {
    background-color: rgba(246, 89, 19, 0);
  }

  /* line 74, scss/styles.scss */
  50% {
    background-color: rgba(246, 89, 19, 0.6);
  }

  /* line 75, scss/styles.scss */
  100% {
    background-color: rgba(246, 89, 19, 0);
  }
}
