    <footer class="site-footer">


    </footer>

    <div class="overlay fullon close">
        <button type="button" class="overlay-close">Close</button>
        <div class="content"></div>
    </div>

    <div id="usure" class="hidden message">
        Are you sure? This can't be undone...<br>
        <button type="button" class="btn btn-info yes">Yep</button>
        <button type="button" class="btn btn-warning cancel">Cancel</button>
    </div>

    <div id="export" class="hidden message">
        Choose date range:<br><br>
        <div class="alert alert-danger fadedout"></div>
        <a class="btn btn-info preset" data-range="lastyear">Last Year</a>
        <a class="btn btn-info preset" data-range="1q">First Quarter</a>
        <a class="btn btn-info preset" data-range="2q">Second Quarter</a>
        <a class="btn btn-info preset" data-range="3q">Third Quarter</a>
        <a class="btn btn-info preset" data-range="4q">Fourth Quarter</a>
        <a class="btn btn-info daterange" data-range="custom">Custom Date Range</a><br>
        <a class="btn btn-default daterangechooser hidden" data-range="custom"><span>Choose Dates </span> <i class="fa fa-lg fa-calendar"></i></a>
        <br><br>
        <button type="button" class="btn btn-warning cancel">Never Mind</button>
    </div>
