<!-- LOGIN/ SIGNUP -->

<script type="text/template" id="login-template">
    <div class="row" style="padding-top: 25px;">
        <div class="col-md-12">
            <div class="panel panel-default entry">
                <div class="panel-body">
                    <div class="login row">
                        <div class="col-md-2 col-xs-1"> </div>
                            <form class="login-form bg-success">
                                <h2 class="text-success">Log In</h2>
                                <div class="row">
                                    <div class="col-md-12"><div class="error alert alert-danger" style="display:none"></div></div>
                                    <div class="col-md-6"><input type="text" id="login-username" placeholder="Username" /></div>
                                    <div class="col-md-6"><input type="password" id="login-password" placeholder="Password" /></div>
                                    <div class="col-md-12"><button class="btn btn-success login">Log In</button></div>
                                </div>
                            </form>

                            <form class="signup-form bg-info">
                                <h2 class="text-info">Sign Up</h2>
                                <div class="row">
                                    <div class="col-md-12"><div class="error alert alert-danger" style="display:none"></div></div>
                                    <div class="col-md-6"><input type="text" id="signup-username" placeholder="Username" /></div>
                                    <div class="col-md-6"><input type="password" id="signup-password" placeholder="Create a Password" /></div>
                                    <div class="col-md-12"><button class="btn btn-info signup">Sign Up</button></div>
                            </form>

                        <div class="col-md-2 col-xs-1"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="manage-trips-template">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body clearfix">
                    <div class="alert alert-success" style="margin-bottom: 0;width: 70%;float: left;">
                        Your total mileage for the year is: <span id="mileage-total"><i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                    <button class="btn btn-success export" style="float: right;width: 28%;margin-top: 9px;">Export</button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="alert alert-warning savefirst hidden">Please, save unsaved trip first.</div>
                    <button class="btn btn-info new" >New Trip</button>
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr><td></td><td>Date</td><td>Title</td><td>Start</td><td>End</td></tr>
                        </thead>
                        <tbody id="trips-list">
                            <tr><td colspan="5">
                                <div id="progress-bar" class="progress progress-striped active">
                                    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    </div>
                                </div>
                            </td><td>
                        </tbody>
                    </table>

                    <div style="text-align: center;"><ul class="pagination"></ul></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="pagination-template">
    <% _.each( range, function(i) { %>
        <% if (currentPage === i) { %>
            <li class="active disabled">
        <% } else { %>
            <li>
        <% } %> <a class="paginate" data-page="<%= i %>" href="#"><%= i %></a></li> <% }); %>
</script>

<script type="text/template" id="trip-template">

    <td class="current">
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="edit-me">Edit</a></li>
                <li><a href="#" class="delete-me">Delete</a></li>
            </ul>
        </div>
    </td>
    <td class="change">
        <button class="btn btn-success save" style="margin-right: 2px;"><i class="fa fa-check-circle fa-inverse"></i></button>
        <button class="btn btn-danger cancel" ><i class="fa fa-times-circle fa-inverse"></i></button>
    </td>

    <td class="current"><%= _.template.formatdate(date) %></td>
    <td class="current"><%= title %></td>
    <td class="current"><%= startOdometer %></td>
    <td class="current"><%= endOdometer %></td>

    <td class="change" colspan="4">
        <form>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Date</span>
                            <input type="date" class="form-control" name="date" placeholder="mm/dd/yyyy" value="<%= _.template.formatdatevalue(date) %>">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Title</span>
                            <input type="text" class="form-control" name="title" placeholder="Title" value="<%= title %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Start</span>
                            <input type="number" class="form-control" name="startOdometer" value="<%= startOdometer %>" placeholder="1234">
                            <!--<span class="input-group-addon">miles</span>-->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">End</span>
                            <input type="number" class="form-control" name="endOdometer" value="<%= endOdometer %>" placeholder="1234">
                            <!--<span class="input-group-addon">miles</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </td>
</script>
